.metric[data-display='activity'].loading {
  .activity {
    border: 1px solid transparent;
  }

  .data {
    background: none;
    padding: 0;
    width: 100%;
  }
}
.activity {
  position:relative;
  border: 1px solid rgba(70,67,104,.7);
  padding: 5px;
  margin-bottom: 5px;

  .data {
    @include box-sizing(border-box);
    background: #464368;
    height: 40px;
    padding-left: 6px;
    max-width: 100%;
    margin: 0;
    width: 0%;
  }
}
