.metric[data-display='utilization'].loading {
  .data {
    background: none;
    padding: 0;
    width: 100%;
  }
}
.utilization {
  position:relative;

  .data {
    @include box-sizing(border-box);
    background: #37a800;
    height: 40px;
    padding-left: 6px;
    width: 0%;

    &.good {
      background: #37a800;
    }

    &.bad {
      background: #fea83b;
    }

    &.ugly {
      background: #cc3333;
    }
  }
}