@import "compass";
@import "compass/reset";
@import "tooltips";
@import "utilization";

  html,
  button,
  input,
  select,
  textarea {
      color: #efefef;
  }

  body {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      font-size: 1em;
      line-height: 1.4;
      background-color:#1b1b24;
  }

  #wrapper {
    width:980px;
    margin:0 auto 20px;
   }

  header {
    @include clearfix;

    position: relative;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(70,67,104,.7);
    margin-bottom: 15px;
  
    #title {
      float: left;
    }
    
    #nav {
      float:right;
      list-style: none;
      margin: 2px 0;

      li {
        display:inline;
        padding:10px;
      }
    }
  }

  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 15px;
   }

  h2 {
    font-weight: 300;
    border-bottom:1px solid rgba(70,67,104,.7);
    font-size:20px;
    margin:0 0 10px 0;
   }

  h4 {
    @include inline-block;
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
  }

  h5 {
    @include inline-block;
    margin: 2px 0;
    font-weight: normal;
  }

  .metric {
    margin-bottom: 20px;
  }

  a {
    color: #00afed;
    text-decoration: none;
   }

  .logout {
    float:right;
   }

  .loading {
    opacity: .3;
   }

  .three-col {
    width:100%;
   }

  .col {
    float: left;
    width: 30%;
    margin-right: 4%;
   }

  .col:last-child {
    margin: 0;
   }

  .two-col-list {
    @include column-count(2);
    @include column-gap(10px);
    width:70%;
    list-style-position: inside;
    list-style-type: square;
    }

   h3.score {
    font-size:26px;
    margin:5px 0;
   }

   h3.status-item {
    font-size:18px;
    margin:0 5px;
   }


  .clearfix:before,
  .clearfix:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  .clearfix:after {
      clear: both;
  }

  /*
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */

  .clearfix {
      *zoom: 1;
  }

