@import "compass/reset";
@import "compass";

body {
  color: #efefef;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4;
  background-color:#1b1b24;
}

body, a {
  color: #efefef;
}